<div class="headder_left_content">
  <%= link_to "YOMEBA", root_path, class: "headder_logo" %>
</div>
<div class="headder_right_content">
  <div class="logout">
    <%= link_to "ログアウト", root_path, class: "headder_logout_button" %>
  </div>
  <div class="user_icon">
    <%= link_to image_tag("/images/animal_stand_penguin.png", class: 'headder_icon' )  , root_path  %>
  </div>
</div>