<div class="image_result">
  <% @books.each do |book,index| %>
      <div class="book_images_result">
        <%= image_tag book.large_image_url,class: "book_images" %>
        <div class= "book_image_title">
          <%= "#{book.title}" %>
        </div>
      </div>
  <% end %>
</div>