.sign_up_space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #795548;
}

.sign_up_box {
  width: 30vw;
  height: 78vh;
  text-align: center;
  border: 4px solid #5D4037;
} 

.sign_up_user_name_top {
  color: white;
  font-size: 2rem;
  background-color: #5D4037;
}

.field label {
  color: white;
  font-size: 2rem;
}


.field {
  margin: 2vh 0;
}

.image_box {
  margin-left: 11vw;
  color: white;
}


.characters_minimum {
  color: white;
  font-size: 2rem;
}

.actions {
  margin-top: 5vh;
  font-size: 2rem;
}